body
{
	margin: 20px 20px 20px 20px;
	font-family: arial;
}

#menubar
{
	position: fixed;
	background-color: #faebeb;
	margin-top: -20px;
	margin-left: -20px;
	display: block;
	width: 100%;
	border: solid;
	border-width: 0 0 2px 0;
}

#menubar section
{
	display: inline-block;
}
/*
#menubar div
{
	display: block;
}
*/
#right
{
	/*float: right;*/
	position: fixed;
	right: 20px;
	margin-top: 20px;
}

#menubar a
{
	border: solid;
	padding: 7px;
	border-width: 2px;
	text-decoration: none;
}

#menubar #login
{
	border-color: #00b300;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	color: #00b300;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: background-color 0.3s, color 0.3s;
}

#menubar #login:hover
{
	background-color: #00b300;
	color: #ffffff;
}

#menubar #register
{
	border-color: #ff0000;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	color: #ff0000;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: background-color 0.3s, color 0.3s;
}
#menubar #register:hover
{
	background-color: #ff0000;
	color: #ffffff;
}

#logout
{
	text-decoration: none;
	color: #b30000;
	font-size: 18px;
}

#menubar .sell
{
	text-decoration: none;
	color: #00b300;
	border-style: none;
	font-size: 16px;
	margin-top: 18px;
	position: fixed;
	display: inline;
	/*bottom: 200px;*/
}

#home-button,#about-button,#contact-button
{
	width: 33%;
	background-color: #00b300;
	color: #ffffff;
	border: double;
	font-size: 20px;
	border-radius: 15px;
	
}
#home,#about,#contact
{
	display: inline;
}

#home-content fieldset,#about-content fieldset,#contact-content fieldset
{
	border-radius: 7px;
	color: #e6e6e6;
	border: 3px solid;
}
/*
@media only screen and (max-width: 600px)
{
	#home-content img,#about-content img,#contact-content img
	{
		width: 100%;
	}
	body
	{
		background-color: #123456;
	}
}*/

.main-img-left
{
	float: left;
}

.main-img-right
{
	float: right;
}

.img-info
{
	color: #000000;
}
