body
{
	margin-left: 4%;
}

.text
{
	display: block;
	border: solid;
	border-width: 1.5px 1.5px 1.5px 1.5px;
	padding-bottom: 3px;
	border-radius: 2px;
	/*border-color: #129C00;*/
}
.text:focus
{
	border-color: #129c00;
}

#submit
{
	background-color: transparent;
	padding: 6.5px 9px;
	border: solid;
	border-color: #0000A0;
	color: #0000A0;
	border-radius: 10px;
	width: 130px;
	font-size: 20px;
}